@import 'normalize';
@import 'typography';
@import 'nav';

body{
  background-color: #81f79f;
}
/*base responsive styling*/
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img,video{
  width:auto;
  height: auto;
  max-width: 100%;
}
/*layout*/
  @supports (grid-area: auto){
  .article-main{
  display: grid;
grid-template-columns: 2fr 1fr;
grid-template-areas:
"featured featured"
 "article aside";
}
.article-main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "featured"
  "article"
  "aside";
}
.featured-image{
  grid-area:featured;
}
.article-full{
  grid-area: article;
}
.article-aside{
  grid-area: aside;
}
}
// end grid
