@import 'normalize';
@import 'typography';
body{
  background-color: #81f79f;
}
/*base responsive styling*/
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img,video{
  width:auto;
  height: auto;
  max-width: 100%;
}
